main {
  margin-top: 6rem;
}

h1 {
  margin-bottom: 0;
  font-size: 3em;
  font-weight: 700;
  text-align: left;
}

p {
  font-weight: 500;
  width: 580px;
  text-align: left;
  margin: 1.5rem 0;
}

.Homepage {
  margin: 0;
  padding: 0;
}

.section {
  max-width: 800px;
  min-width: 400px;
  margin: auto;
}
