@import url("https://fonts.googleapis.com/css?family=Montserrat:300&display=swap");

main {
  margin-top: 6rem;
}

span {
  font-family: "Montserrat", "Segoe UI", "Roboto", "Oxygen", "Ubuntu";
}

p {
  width: 70%;
  margin: 1.5rem 0;
}

.section {
  max-width: 800px;
  min-width: 400px;
  margin: auto;
  margin-bottom: 2rem;
}

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.grid div {
  margin: 1rem;
  width: 50%;
  padding: 0.5rem 2rem;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
    0 6px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.grid p {
  width: 100%;
}

.grid h3 {
  text-align: right;
  font-style: italic;
}

@media only screen and (max-width: 800px) {
  main {
    margin-top: 0;
  }

  p {
    width: 100%;
  }

  .grid {
    display: block;
  }

  .section {
    margin: 0 1rem;
  }

  .grid div {
    padding: 0;
    margin-right: 2rem;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: 95%;
  }
}
