@import url("https://fonts.googleapis.com/css?family=Montserrat:300&display=swap");

nav {
  display: flex;
  justify-content: space-between;
  max-width: 50rem;
  margin: auto auto 3rem auto;
  height: 5rem;
}

header {
  margin: 0;
  padding: 0;
  transition: all 1s ease;
}

span {
  font-family: "Montserrat", "Segoe UI", "Roboto", "Oxygen", "Ubuntu";
}

.title {
  padding: 0;
  margin: 0;
  text-align: center;
  color: white;
  * {
    color: rgba(0, 0, 0, 0.7);
    font-size: 1.6rem;
    margin: 0;
  }
}

.links {
  display: flex;

  span {
    margin-right: 0.5rem;
  }
}

.links > * {
  transition: color 0.2s ease;
  text-align: center;
  width: 50%;
  margin: 1.3rem;

  @media only screen and (max-width: 800px) {
    margin: 0;
  }
}

@media only screen and (max-width: 800px) {
  .links button {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 1.1rem;
  }

  nav {
    display: initial;
    margin: 0;
    max-width: 100%;
  }

  br {
    display: none;
  }

  .links {
    margin-top: 1rem;
    width: 100%;

    span {
      margin-right: 0.2rem;
    }
  }

  .title {
    margin: 0 auto;

    a {
      margin: 0;
    }

    span {
      margin-left: 0.5rem;
    }
  }
}

.darkmode--activated {
  .links {
    * {
      color: rgba(0, 0, 0, 0.85);
      &:hover {
        color: rgba(0, 0, 0, 0.9);
      }
    }
  }
}
