footer {
  margin-top: 1rem;
}

div.section {
  margin-bottom: 0;
  padding-bottom: 1rem;
}

a {
  color: rgba(0, 0, 0, 0.4);
  text-decoration: none;
  margin-right: 0.8rem;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

a:hover {
  color: rgba(0, 0, 0, 0.8);
}
