nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 800px;
  min-width: 330px;
  height: 90px;
  margin: 1rem auto;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

header {
  margin: 0;
  padding: 0;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.title {
  margin: 1rem;
  text-align: center;
}

.title > * {
  font-size: 1.6rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.8);
}

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.links > * {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  color: rgba(0, 0, 0, 0.4);
  text-align: center;
  width: 50%;
  margin: 0.7rem;
}

.links span {
  margin-right: 0.5rem;
}

button {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  color: rgba(0, 0, 0, 0.4);

  border: none;
  background: none;
}
button:focus {
  outline: 0;
}

a:hover,
button:hover {
  color: rgba(0, 0, 0, 0.75);
}

.heart:hover {
  color: rgb(255, 117, 117);
}

.darkmode--activated * {
  color: black;
}

@media only screen and (max-width: 800px) {
  .links button {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 1.1rem;
    margin: 0.5rem 0rem;
  }

  nav {
    display: initial;
    margin: 0;
    max-width: 100%;
  }

  div {
    margin: 1rem 0;
  }

  .links {
    width: 100%;
    margin: 1rem 0;
  }

  .links span {
    margin-right: 0.2rem;
  }

  .title {
    margin-bottom: 0;
  }
}
