$mobile-resolution: 800px;

@import url("https://fonts.googleapis.com/css?family=Montserrat:300&display=swap");

p {
  margin: 1rem 0;
}
.section {
  max-width: 50rem;
  margin: auto;
  margin-bottom: 2rem;
  @media only screen and (max-width: $mobile-resolution) {
    margin: 0 1rem;
  }
}

.darkmode--activated {
  .card {
    background-color: #121212;
    box-shadow: 0 2px 10px rgba(255, 255, 255, 0.19),
      0 2px 6px rgba(255, 255, 255, 0.23);
    p,
    h3 {
      color: white;
    }

    .title {
      color: white;
    }
  }
}

.card {
  margin: 1rem;
  width: 100%;
  padding: 0.5rem 2rem;
  background-color: white;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
    0 6px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

  overflow: hidden;
  position: relative;
}

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  h3 {
    text-align: right;
    font-style: italic;
  }
}

.hi {
  display: flex;
  justify-content: center;
  div {
    width: 50%;
  }
}

.logo {
  opacity: 0.15;
  position: absolute;
  width: 20rem;
  margin: auto;
  bottom: -5rem;
  right: 0rem;
}

.project {
  min-height: 20rem;
  margin: 1.5rem 0;
}

.title {
  padding: 1rem;
  margin: 0;
}

@media only screen and (max-width: $mobile-resolution) {
  .grid {
    display: block;

    div {
      padding: 0;
    }
  }

  .slideshow {
    display: none;
  }
  .hi {
    display: block;
    div {
      width: 100%;
    }
  }

  .card {
    background: none;
    box-shadow: none;
    width: 90%;
  }

  .darkmode--activated {
    .card {
      background: none;
      box-shadow: none;
    }
  }
}

.illustrations {
  position: absolute;
}

.fade-appear {
  opacity: 0;
  transform: scale(0.97) translateY(5px);
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transform: scale(1) translateY(0);
  transition: opacity 300ms linear 100ms, transform 300ms ease-in-out 100ms;
}

.fade-enter {
  opacity: 0;
  transform: scale(0.97) translateY(5px);
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transform: scale(1) translateY(0);
  transition: opacity 300ms linear 100ms, transform 300ms ease-in-out 100ms;
}

.fade-exit {
  opacity: 1;
  transform: scale(1) translateY(0);
  transition: opacity 300ms linear 100ms, transform 300ms ease-in-out 100ms;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transform: scale(0.97) translateY(5px);
}

.fade-exit-done {
  opacity: 0;
}
