$mobile-resolution: 800px;

.darkmode--activated {
  .card {
    background-color: #121212;
  }
}

.card {
  margin: 1rem;
  width: 100%;
  padding: 0.5rem 2rem;
  background-color: white;
  transition: box-shadow 200ms ease-in-out;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.02), 0 6px 6px rgba(0, 0, 0, 0.12);
  overflow: hidden;
  position: relative;
  border-radius: 10px;

  &:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.14);
  }
}

.grid {
  display: flex;
}

.heading {
  display: flex;
  div {
    width: 50%;
  }
}

.logo {
  margin: auto;
  position: absolute;
  opacity: 0.15;
  width: 20rem;
  bottom: -5rem;
  right: 0rem;
}

// .project {
//   min-height: 20rem;
//   margin: 1.5rem 0;
// }

@media only screen and (max-width: $mobile-resolution) {
  .grid {
    display: block;

    div {
      padding: 0;
    }
  }

  .slideshow {
    display: none;
  }

  .heading {
    display: block;
    div {
      width: 100%;
    }
  }

  .card {
    background: none;
    box-shadow: none;
    width: 90%;

    &:hover {
      box-shadow: none;
    }
  }

  .darkmode--activated {
    .card {
      background: none;
      box-shadow: none;
    }
  }
}

.illustrations {
  position: absolute;
}

.fade-appear {
  opacity: 0;
  transform: scale(0.97) translateY(5px);
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transform: scale(1) translateY(0);
  transition: opacity 300ms linear 100ms, transform 300ms ease-in-out 100ms;
}

.fade-enter {
  opacity: 0;
  transform: scale(0.97) translateY(5px);
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transform: scale(1) translateY(0);
  transition: opacity 300ms linear 100ms, transform 300ms ease-in-out 100ms;
}

.fade-exit {
  opacity: 1;
  transform: scale(1) translateY(0);
  transition: opacity 300ms linear 100ms, transform 300ms ease-in-out 100ms;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transform: scale(0.97) translateY(5px);
}

.fade-exit-done {
  opacity: 0;
}
