footer {
  margin-top: 1rem;

  .section {
    display: flex;
    justify-content: space-between;
  }

  img {
    margin: 0;
  }
}

div.section {
  margin-bottom: 0;
  padding-bottom: 1rem;
}

a {
  color: rgba(0, 0, 0, 0.4);
  text-decoration: none;
  margin-right: 0.8rem;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;

  &:hover {
    color: rgba(0, 0, 0, 0.8);
  }
}

.technology {
  a:last-of-type {
    margin: 0;
  }
  margin-right: 0.5rem;
}
