footer {
  margin-top: 1rem;

  .section {
    display: flex;
    justify-content: space-between;
    @media only screen and (max-width: 800px) {
      flex-direction: column;
      justify-content: center;
      width: 100%;
      margin: auto;
    }
  }

  img {
    margin: 0;
  }
}

div.section {
  margin-bottom: 0;
  padding-bottom: 1rem;
}

.technology,
.footer-links {
  display: flex;
  justify-content: center;

  img {
    padding-top: 0.1rem;
  }

  * {
    margin: 0 0.4rem;
  }
}

.darkmode--activated {
  .footer-links {
    * {
      color: rgba(0, 0, 0, 0.8);
      &:hover {
        color: rgba(0, 0, 0, 0.9);
      }
    }
  }
}
