body {
  margin: 0;
  font-size: 1.2rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

.main {
  margin: 0;
  background: url("./assets/bg.svg") no-repeat center center;
  background-size: 111%;

  @media only screen and (max-width: 800px) {
    background: none;
  }

  .section:last-of-type {
    padding: 0;
  }
}

::selection {
  background: #fff744; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #fff744; /* Gecko Browsers */
}
