$mobile-resolution: 800px;

body {
  margin: 0;
  font-size: 1.2rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

p {
  margin: 1rem 0;
}

a {
  text-decoration: none;
  transition: color 0.2s ease;
  color: rgba(0, 0, 0, 0.5);

  &:hover {
    color: rgba(0, 0, 0, 0.9);
  }
}

.section {
  max-width: 50rem;
  margin: auto auto 2rem auto;
  @media only screen and (max-width: $mobile-resolution) {
    margin: 0 1rem;
  }
}

.homepage {
  background: url("./assets/bg.svg") no-repeat center center;
  background-size: 111%;
}

.app > div {
  margin: 0;

  @media only screen and (max-width: 800px) {
    background: none;
  }

  .section:last-of-type {
    padding: 0;
  }
}

.page {
  width: 90%;
  margin: auto;
}

.darkmode--activated {
  p,
  h1,
  h2,
  h3,
  li,
  a {
    color: white;
  }
}

::selection {
  background: #fff744; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #fff744; /* Gecko Browsers */
}
